{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Porogov.net</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
      <!-- style css -->
      <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{% static 'main/css/responsive.css' %}">
      <!-- fevicon -->
      <link rel="icon" href="{% static 'main/images/fevicon.png' %}" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{% static 'main/css/jquery.mCustomScrollbar.min.css' %}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="{% static 'main/images/loading.gif' %}" alt="#" /></div>
      </div>
      <!-- end loader -->
      <!-- header -->
      <header>
         <!-- header inner -->
         <div class="header">
            <div class="container">
               <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                     <div class="full">
                        <div class="center-desk">
                           <div class="logo">
                              <a href="index.html"><img src="{% static 'main/images/logo.png' %}" alt="#" /></a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                     <nav class="navigation navbar navbar-expand-md navbar-dark ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarsExample04">
                           <ul class="navbar-nav mr-auto">
                              <li class="nav-item">
                                 <a class="nav-link" href="{% url 'home' %}"> Home  </a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="#">About</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="#">Contact us</a>
                              </li>
                           </ul>
                           <div class="sign_btn"><a href="#">Sign in</a></div>
                        </div>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <!-- end header inner -->
      <!-- end header -->
      <!-- banner -->
      <section class="banner_main">
         <div class="container">
            <div class="row d_flex">
               <div class="col-md-12">
                  <div class="text-bg">
                     <h1>Подбери лучшую машину</h1>
                     <strong>Почувствуй себя настоящим мамкиным гонщиком</strong>
                     <span>НАЧИНАЮЩИМ ЛЕТУНАМ СКИДКА</span>
                     <p>
                        Мы объединили 2000+ предложений прокатов и частных автовладельцев по всей России
                        <head></head>
                     </p>
                     <a href="#">Подробнее</a>
                  </div>
               </div>
            </div>
         </div>
      </section>
      </div>
      <!-- end banner -->
      <!-- car -->
      <div  class="car">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>ШИРОКИЙ ВЫБОР АВТО </h2>
                     <span>Мы взяли американскую идею и сделали первый в России работающий сервис по аренде авто у частников</span>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4 padding_leri">
                  <div class="car_box">
                     <figure><img src="{% static 'main/images/car_img1.png' %}" alt="#"/></figure>
                     <h3>HUNDA</h3>
                  </div>
               </div>
               <div class="col-md-4 padding_leri">
                  <div class="car_box">
                     <figure><img src="{% static 'main/images/car_img2.png' %}" alt="#"/></figure>
                     <h3>KOLCO</h3>
                  </div>
               </div>
               <div class="col-md-4 padding_leri">
                  <div class="car_box">
                     <figure><img src="{% static 'main/images/car_img3.png' %}" alt="#"/></figure>
                     <h3>BMW</h3>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end car -->
      <!-- bestCar -->
      <div id="contact" class="bestCar">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
               </div>
            </div>
            <div class="row">
               <div class="col-sm-12">
                  <div class="row">
                     <div class="col-md-6 offset-md-6">
                        <form class="main_form">
                           <div class="titlepage">
                              <h2>Подбери себе лучший авто</h2>
                           </div>
                           <div class="row">
                              <div class="col-md-12 ">
                                 <select>
                                    <option value="0">Choose car Make</option>
                                    <option value="1">Logan</option>
                                    <option value="2">Solarkis</option>
                                    <option value="3">Rio</option>
                                 </select>
                              </div>
                              <div class="col-md-12">
                                 <select>
                                    <option value="0">Choose Car Type </option>
                                    <option value="1">Sedan</option>
                                    <option value="2">Sedan</option>
                                    <option value="3">Sedan</option>
                                 </select>
                              </div>
                              <div class="col-md-12">
                                 <input class="contactus" placeholder="Search" type="Search" name="Search">                          
                              </div>
                              <div class="col-md-12">
                                 <select>
                                    <option value="0">Price of Rent</option>
                                    <option value="1">999.999</option>
                                    <option value="2">err</option>
                                    <option value="3">nothing interesting</option>
                                 </select>
                              </div>
                              <div class="col-sm-12">
                                 <button class="find_btn">Искать</button>
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end bestCar -->
      <!-- choose  section -->
      <div class="choose ">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>ПЧЕМУ ИМЕННО МЫ</h2>
                     <span>Полный возврат средств можно сделать бесплатно отменив бронирование за 2 суток до начала аренды</span>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="choose_box">
                     <span>01</span>
                     <p>В отличии от каршеринга, наши собственники готовы отпустить свои автомобили в самые дальние края</p>
                  </div>
               </div>
               <div class="col-md-12">
                  <div class="choose_box">
                     <span>02</span>
                     <p>На длинные поездки большинство собственников предоставляют хорошие скидки</p>
                  </div>
               </div>
               <div class="col-md-12">
                  <div class="choose_box">
                     <span>03</span>
                     <p>С каждой аренды вам вернется 1% кэшбэка баллами, которые вы сможете потратить на будущие поездки</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end choose  section -->
      <!-- cutomer -->
      <div class="cutomer">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Что говорят о нас наши клиенты?</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div id="myCarousel" class="carousel slide cutomer_Carousel " data-ride="carousel">
                     <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                     </ol>
                     <div class="carousel-inner">
                        <div class="carousel-item active">
                           <div class="container">
                              <div class="carousel-caption ">
                                 <div class="cross_img">
                                    <figure><img src="{% static 'main/images/cross_img.png' %}" alt="#"/></figure>
                                 </div>
                                 <div class="our cross_layout">
                                    <div class="test_box">
                                       <h4>Олег</h4>
                                       <span>Добрый день!</span>
                                       <p>Хочу поделиться своим восторженным отзывом о компании по сдаче машин в аренду! Я уже несколько раз обращался к ним и каждый раз получал исключительно высокий уровень сервиса. Машины всегда были в отличном состоянии, чистые и ухоженные. Сотрудники компании всегда были очень дружелюбны и профессиональны, помогали с выбором автомобиля и всегда были готовы ответить на все мои вопросы. Цены также приятно удивляли - доступные и прозрачные, без скрытых платежей. Я с уверенностью могу рекомендовать эту компанию всем, кто ищет надежного партнера для аренды автомобиля! Спасибо за отличный сервис и профессионализм!</p>
                                       <i><img src="{% static 'main/images/te1.png' %}" alt="#"/></i>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="container">
                              <div class="carousel-caption">
                                 <div class="cross_img">
                                    <figure><img src="{% static 'main/images/cross_img.png' %}" alt="#"/></figure>
                                 </div>
                                 <div class="our cross_layout">
                                    <div class="test_box">
                                       <h4>Олег</h4>
                                       <span>Добрый день!</span>
                                       <p>Хочу поделиться своим восторженным отзывом о компании по сдаче машин в аренду! Я уже несколько раз обращался к ним и каждый раз получал исключительно высокий уровень сервиса. Машины всегда были в отличном состоянии, чистые и ухоженные. Сотрудники компании всегда были очень дружелюбны и профессиональны, помогали с выбором автомобиля и всегда были готовы ответить на все мои вопросы. Цены также приятно удивляли - доступные и прозрачные, без скрытых платежей. Я с уверенностью могу рекомендовать эту компанию всем, кто ищет надежного партнера для аренды автомобиля! Спасибо за отличный сервис и профессионализм!</p>
                                       <i><img src="{% static 'main/images/te1.png' %}" alt="#"/></i>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="container">
                              <div class="carousel-caption">
                                 <div class="cross_img">
                                    <figure><img src="{% static 'main/images/cross_img.png' %}" alt="#"/></figure>
                                 </div>
                                 <div class="our cross_layout">
                                    <div class="test_box">
                                       <h4>Олег</h4>
                                       <span>Добрый день!</span>
                                       <p>Хочу поделиться своим восторженным отзывом о компании по сдаче машин в аренду! Я уже несколько раз обращался к ним и каждый раз получал исключительно высокий уровень сервиса. Машины всегда были в отличном состоянии, чистые и ухоженные. Сотрудники компании всегда были очень дружелюбны и профессиональны, помогали с выбором автомобиля и всегда были готовы ответить на все мои вопросы. Цены также приятно удивляли - доступные и прозрачные, без скрытых платежей. Я с уверенностью могу рекомендовать эту компанию всем, кто ищет надежного партнера для аренды автомобиля! Спасибо за отличный сервис и профессионализм!</p>
                                       <i><img src="{% static 'main/images/te1.png' %}" alt="#"/></i>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                     <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                     <span class="sr-only">Previous</span>
                     </a>
                     <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                     <span class="carousel-control-next-icon" aria-hidden="true"></span>
                     <span class="sr-only">Next</span>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end cutomer -->
      <!--  footer -->
      <footer>
         <div class="footer">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="cont_call">
                        <h3> <strong class="multi color_chang"> ЗВОНИТЕ</strong><br>
                           (+8) 800-555-35-35
                        </h3>
                     </div>
                     <div class="cont">
                        <h3>
                           <strong class="multi">Сделай свой выбор уже сейчас!</strong>
                        </h3>
                     </div>
                  </div>
               </div>
            </div>
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <p>© 2024 All Rights Reserved. Design by <a href="https://html.design/">AO PskovADS inc.</a></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="{% static 'main/js/jquery.min.js' %}"></script>
      <script src="{% static 'main/js/popper.min.js' %}"></script>
      <script src="{% static 'main/js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'main/js/jquery-3.0.0.min.js' %}"></script>
      <script src="{% static 'main/js/plugin.js' %}"></script>
      <!-- sidebar -->
      <script src="{% static 'main/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
      <script src="{% static 'main/js/custom.js' %}"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
   </body>
</html>

